*{margin: 0;padding: 0}
.list{list-style: none}

.menus{position: fixed;z-index: 1030;top: 0;right: 0;width: 180px;height: 100vh;background-color: #333}

body{font-size: 14px;color: #666;font-family: 'Poppins', sans-serif;}
p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Archivo Narrow', sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{color: #000;font-weight: 700}
a{color: #333}
a, button, .btn{cursor: pointer;transition: all .3s ease;}
a:hover{text-decoration: none;color: #7579ff}
.section{padding: 50px 0}
.pos-rl{position: relative;}
.parallax{background-attachment: fixed;background-position: center center;background-size: cover;background-repeat: no-repeat}
.overlay{position: relative;}
.overlay::before{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background-color: rgba(0,0,0,.63);}
.fs-18{font-size: 18px !important}
/*------------------------------------
    Header Nav styles
--------------------------------------*/
#top-bar{position: sticky;top: 0;left: 0;width: 100%;z-index: 999;transition: all .3s ease}
.scrolled{background-color: #7579ff;background-color: #000}
.top-header{display: flex;justify-content: center;align-items: center;}
.logo{display: inline-block}
.logo a{font-size: 23px;font-family: 'Saira Stencil One', cursive;}
.logo a, .login-link, .navbar-brand:hover, .login-link:hover{color: #fff}
.nav-right{margin-top: 10px}
.login-link{display: inline-block;position: relative;top: -6px}
.active.menu-icon{margin-top: 0px}
.menu{width: 180px;height: 100vh;overflow-x: hidden;overflow-y: auto;background-color: #8e8e8e;position: fixed;z-index: 999;top: 0;right: -180px;transition: all .3s ease;padding: 10px 0}
.active .menu{right: 0}
#sidebarCollapse {width: 23px;height: 23px;cursor: pointer;position: relative;display: inline-block;margin-left: 20px}
#sidebarCollapse span {
  width: 80%;height: 2px;margin: 0 auto;display: block;background: #fff;transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.05s;margin: 5px auto;
}
.menu a{padding: 7px 15px;display: block;color: #fff}
.menu a:hover, .menu a.active, .menu a.active:hover{background-color: #545454}
.active .nav-right {position: relative;right: 85px;}
.active #sidebarCollapse span:first-of-type {transform: rotate(45deg) translate(5px, 5px)}
.active #sidebarCollapse span:nth-of-type(2) {opacity: 0}
.active #sidebarCollapse span:last-of-type {transform: rotate(-45deg) translate(5px, -5px);}
.active #sidebarCollapse span {transform: none;opacity: 1;margin: 5px auto}
.menu .nav-link{color: #fff}

#backToTop{width: 36px;height: 36px;line-height: 36px;text-align: center;background-color: #333;color: #fff;position: fixed;right: 15px;bottom: 15px;display:none;}

/*------------------------------------
    Banner styles
--------------------------------------*/
.banner{background-image: url(../src/assets/images/banner.jpg);width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;}
.banner .inner{position: relative;z-index: 20; width: 70%;text-align: center;color: #fff;letter-spacing: 5px;}
/*------------------------------------
    Section Title styles
--------------------------------------*/
.sec-title .h2 {font-size: 30px;text-transform: uppercase;letter-spacing: 9px;margin-bottom: 0;font-family: "Archivo Narrow", sans-serif;}
.what .sec-title .h2 {font-size: 20px;}
/*------------------------------------
    Who styles
--------------------------------------*/
.who .owl-nav .owl-prev, .who .owl-nav .owl-next{position: absolute;top: 50%;transform: translateY(-50%);width: 36px;height: 36px;line-height: 36px;text-align: center;background-color: #7579ff;color: #fff;}
.who .owl-nav .owl-prev{left: 0;}
.who .owl-nav .owl-next{right: 0}
.who .wt-info{padding: 15px;}
.who .wt-info .h5{font-size: 16px;font-weight: 700}
.who .item{transition: all .3s ease;border: 1px solid transparent}
.who .item:hover{border-color: #000;background-color: #f5f9fa}

/*------------------------------------
    What styles
--------------------------------------*/
.what{background-image: url(../src/assets/images/bg-02.jpg);}
.play-area{position: relative;z-index: 1;width: 100%;background-color: #262626;padding: 15px 30px 20px;border: 1px solid #363636;float: left;}
.play-area audio{width: 100%}
.premium-acc{background-color: #f5f9fa}
.single-item{position: relative;z-index: 1;border-bottom: 1px solid #d8d8d8;margin-bottom: 11px;padding-bottom: 11px;}
.single-item:last-child {margin-bottom: 0;border-bottom: none;padding-bottom: 0}
.pr-acc-item{position: relative;z-index: 1;padding: 45px 30px;border: 1px solid #d8d8d8;background-color: #f5f9fa}
.thumbnail-small {-webkit-box-flex: 0;-ms-flex: 0 0 50px;flex: 0 0 50px;max-width: 50px;width: 50px;margin-right: 20px;}
.single-part .content p{margin-bottom: 0}
.ft-three-column{position: relative;z-index: 1;padding: 45px 30px;-webkit-transition-duration: 500ms;transition-duration: 500ms;border: 1px solid transparent;}
.weeks-top, .new-hits, .popular-artist{border-color: #d8d8d8;background-color: #f5f9fa;}
.popular-artist .thumbnail-small img{border-radius: 50%}
.weeks-top .single-item{border-bottom-color: transparent}
.popular-artist .single-item{border: 0;margin-bottom: 7px}
.weeks-top .thumbnail-small, .new-hits .thumbnail-small{-webkit-box-flex: 0;-ms-flex: 0 0 73px;flex: 0 0 73px;max-width: 73px;width: 73px;}
.popular-artist .thumbnail-small{-webkit-box-flex: 0;-ms-flex: 0 0 63px;flex: 0 0 63px;max-width: 63px;width: 63px;}
.popular-artist .single-item:last-child{margin-bottom: 4px !important;}

.footer{background-color: #000;padding: 15px 0;}
.footer-logo{font-family: 'Saira Stencil One', cursive;color: #fff;font-size: 27px;}
/*------------------------------------
    Login styles
--------------------------------------*/
.login-wrap{background-image: url(../src/assets/images/bg-01.jpg);width: 100%;min-height: 100vh;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 15px;background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;z-index: 1;}
.login-wrap::before {content: "";display: block;position: absolute;z-index: -1;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(255,255,255,0.9);}
.login-inner{width: 500px;border-radius: 10px;overflow: hidden;padding: 55px 55px 37px 55px;background: #000;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1NzlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjI0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  #6b6a6a 0%, #000 100%);background: -webkit-linear-gradient(top,  #6b6a6a 0%,#000 100%);background: linear-gradient(to bottom,  #6b6a6a 0%,#000 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7579ff', endColorstr='#b224ef',GradientType=0 )}
.login-logo .fas{width: 75px;height: 75px;background-color: #fff;line-height: 75px;border-radius: 50%;font-size: 23px;color: #000}
.login-inner form .form-group{position: relative;color: #fff}
.login-inner form .form-control{position: relative; background-color: transparent;border: 0;border-bottom: 1px solid #fff;border-radius: 0;color: #fff;padding-left: 25px;}
.login-inner form .form-control::-webkit-input-placeholder {color: #fff;}
.login-inner form .form-control:-ms-input-placeholder {color: #fff;}
.login-inner form .form-control::placeholder {color: #fff;}
.login-inner form .form-group .line{content: '';position: absolute;top: calc(100% - 1px);left: 0;height: 2px;width: 0%;background-color: #fff;transition: all .3s ease}
.login-inner form .form-control:focus ~ .line{width: 100%}
.login-inner form .form-control:focus{box-shadow: none;}
.login-inner form .icon{position: absolute;top: 11px;left: 0;}
.login-inner form .btn{padding: 9px 23px;border-radius: 25px;font-size: 14px;}
.login-inner form .btn-white{background-color: #fff;color: #000;border: 1px solid #fff}
.login-inner form .btn-white:hover{background-color: transparent;color: #fff;}
.forgot-link:hover{text-decoration: underline}

/*------------------------------------
    Responsive styles
--------------------------------------*/
@media (max-width: 767px){
  .top-header{padding: 5px 15px;}
}
@media (min-width: 992px){
  .top-header{padding: 5px 50px;}
}
@media (min-width: 1200px){
  .top-header{padding: 5px 100px;}
}








